<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <script src="../public/js/car.js" defer></script>
    <link rel="stylesheet" href="../public/css/cars.css">
</head>
<body>
    <header>
        <button id="home_button">Home</button>
        <p id="header_cars">Select a car brand to display images</p>
    </header>
    <div class="cars_brand">
        <button id="audi_cars">Audi</button>
        <button id="bmw_cars">BMW</button>
    </div>
    <div id="cars_area">
        <!--// images go here -->
    </div>
</body>
</html>